body {
	padding-top: 50px;
}

ul {
  list-style-type: circle;
}

#hardware-list li {
  margin-bottom: 0.3em;
}

#hardware-list b {
  margin-right: 0.3em;
}

/* from docs : The affix plugin toggles between three classes,
each representing a particular state: .affix, .affix-top, and .affix-bottom */
#affix .affixH2Item {
  margin-bottom: 1em;
}

.affix-top, .affix-bottom {
  width: 100%;
}

.dropdown-menu li a.smaller {
	padding: 1px 20px;
	font-size: 90%;
}